.section-cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.section-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  row-gap: 15px;
  column-gap: 15px;
  width: 1025px;
}
