.section-cards {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  row-gap: 15px;
  column-gap: 15px;
  margin: 0 auto;
  width: 1065px;
}
