.section-login__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.section-login__button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(200, 220, 245);
  border: 1px solid rgb(200, 220, 245);
  cursor: pointer;

  transition: all 0.15s ease-in;

  &:hover {
    background-color: rgb(190, 210, 230);
    border-color: rgb(190, 210, 230);
  }
}
